@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
@import "tailwindcss";
.slick-slide > div > div {
  transform: scale(0.6);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.slick-slide.slick-center > div > div {
  transform: scale(1.3);
}

.slick-dots li button:before {
  color: #8c97a9 !important; /* Tailwind blue-500 */
  font-size: 10px !important;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}     

@font-face {
  font-family: 'Futura New';
  src: url('./assets/fonts/FuturaNewBook.woff2') format('woff2'), 
       url('./assets/fonts/FuturaNewBook.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}
